.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}
.wrapper {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid var(--blue);
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.nav-links a {
  font-weight: bold;
  color: black;
  font-size: 16px;
  text-decoration: none;
}
.top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  background-color: var(--blue);
  border-radius: 10px;
  overflow: hidden;
}
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20%;
}

.logo-box > img {
  height: 90px;
  object-fit: contain;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.right-top .row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
}

.slide-box {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  width: 100%;
}
.box1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./box2.jpg");
  background-size: cover;
}
.box2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./box1.jpg");
  background-size: cover;
}
.box4 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./hands.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.box3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./box3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
.box5 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./donate-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.right-top h1 {
  font-size: 20px;
  text-align: center;
  color: white;
}
.right-nav button {
  width: 120px;
  font-size: 13px;
}
.row img {
  width: 100px;
  height: 100%;
  border-radius: 50%;
}
.profile-card img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.profile-card .gokula {
  height: 150px;
  width: 150px;
}
.profile-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  width: 170px;
}
.profile-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.profile-card h2 {
  font-size: 18px;
  margin-top: 10px;
}
.profile-card p {
  font-size: 16px;
}
.right-top h2 {
  color: white;
  text-align: center;
  line-height: 1.5;
  margin-top: 20px;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  row-gap: 20px;
  margin-top: 70px;
  text-align: center;
}

.slide-h1 {
  font-size: 34px !important;
  margin-bottom: 10px;
}
.slide-box h3 {
  font-size: 25px;
  color: white;
  text-align: center;
}
.slide-box h4 {
  color: white;
  font-size: 25px;
  text-align: center;
}
.quote {
  background-color: var(--blue);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  align-self: center;
  border-radius: 20px;
  height: 100%;
  text-align: center;
}
.quote h4 {
  color: white;
  font-size: 24px;
  line-height: 1.7;
  text-transform: uppercase;
}
.donate {
  text-transform: uppercase;
  width: 200px;
  height: 40px;
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  background-color: #ffba67;
  border: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 2px solid black;
}
.objectives,
.phases {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  margin-top: 90px;
  flex-wrap: wrap;
}
.phases {
  margin: 0px;
}
.objective {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid var(--blue);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  color: black;
  text-align: center;
  box-shadow: 0px 0px 5px 0px var(--blue);
}
.objective img {
  width: 120px;
  height: 120px;
}
.objective h1 {
  font-size: 25px;
}
.objective p {
  font-size: 16px;
  text-align: center;
}
.phases-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
  gap: 20px;
}
.phases-wrapper h2 {
  font-size: 50px;
}
.reports .title {
  text-align: center;
}
.phase2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 70px;
  text-align: center;
}
.phase2 p {
  font-size: 18px;
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 20px;
}
.phase2 h2,
.list-box {
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  border: 2px solid var(--blue);
  box-shadow: 0px 0px 5px 0px var(--blue);
  color: black;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.phase2 h2 {
  height: 200px;
  box-shadow: none;
}
.down:after,
.mob-down:after {
  content: "";
  position: absolute;
  height: 50px;
  width: 30px;
  background-color: var(--blue);
  opacity: 0.7;
  top: 100%;
  left: 10%;
}
.list-box img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}
.mob-down:after {
  display: none;
}
.right::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 50px;
  background-color: var(--blue);
  opacity: 0.7;
  top: 10%;
  left: 100%;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.list .title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}
.list p {
  line-height: 1;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
}
.list-box {
  text-align: center;
  width: 100% !important;
  height: 100%;
  min-height: 150px;
}
.profile-slider {
  display: none;
}
.br {
  display: none;
}
.list-box span {
  display: block !important;
  margin-bottom: 10px;
  font-size: 23px !important;
}
.left-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.left-nav .desk-link {
  width: 100%;
}
.desk-link {
  display: flex;
}
.mob-link {
  display: none;
}
.mob-link svg,
.left-nav svg {
  display: none;
}
.mob-link .donate-a {
  display: none;
}
@media screen and (max-width: 1240px) {
  .navbar {
    row-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  .left-nav {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  .right-nav {
    gap: 0px;
    justify-content: flex-start;
  }
  .right-nav button {
    width: 120px;
  }
  .nav-links {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .desk-link {
    display: none;
  }
  .mob-link {
    display: flex;
  }
}
@media screen and (max-width: 1107px) {
  .right-top h1 {
    font-size: 20px;
  }
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .left-hero img {
    max-width: 90%;
  }
  .list ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 993px) {
  .right::before {
    display: none;
  }
  .profile-slider {
    display: initial;
  }
  .profile-slider li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .br {
    display: block;
  }
  .slide-box h1 {
    font-size: 24px !important;
  }
  .down:after,
  .mob-down:after {
    left: 50%;
    transform: translateX(-50%);
  }

  .phase2 h2 {
    width: 100%;
  }
  .mob-down:after {
    display: block;
  }
}
@media screen and (max-width: 808px) {
  .mob-link {
    position: fixed;
    left: 0;
    max-width: 400px;
    width: 100%;
    top: 0;
    height: 100vh;
    z-index: 100;
    max-height: 100vh;
    overflow-y: auto;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 30px;
    gap: 30px;
    left: -700px;
    transition: all 0.5s ease-in-out;
  }
  .overlay2 {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
  }
  .show-overlay {
    display: block;
  }
  .open-nav {
    left: 0;
  }
  .mob-link a {
    color: white;
    font-size: 18px;
  }
  .mob-link svg {
    display: block;
    color: white;
    position: absolute;
    right: 5%;
    top: 2%;
    cursor: pointer;
    font-size: 25px;
  }
  .left-nav svg {
    display: block;
    color: black;
    cursor: pointer;
    font-size: 25px;
  }
}
@media screen and (max-width: 967px) {
  .top-wrap,
  .profile-row {
    gap: 40px;
    flex-direction: column;
  }
  .logo-box {
    align-self: center !important;
  }
  .quote br {
    display: none;
  }
  .profile-card {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .logo-box {
    justify-self: flex-start;
  }
  .slide-h1 {
    font-size: 25px !important;
    text-align: center;
  }
  .list p {
    text-align: center;
  }
}
@media screen and (max-width: 675px) {
  .list ul {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 450px) {
  .quote h4 {
    font-size: 20px;
  }
  .slide-h1 {
    font-size: 20px !important;
    text-align: center;
  }
  .logo-box img {
    width: 120px;
  }
  .left-nav {
    gap: 5px;
  }
  .objectives {
    margin-top: 50px;
  }
  .right-nav button {
    font-size: 12px;
    width: 95px;
  }
  .right-nav button {
    display: none;
  }
  .mob-link .donate-a {
    display: block;
  }
  .mob-link {
    max-width: 100%;
  }
}
.reports {
  width: 100%;
  margin: 60px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #347a9a;
}
.header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  position: relative;
  gap: 5px;
}
.header h1 {
  font-size: 30px;
}
.header h1 span {
  color: #ffc300;
}
.header p {
  font-size: 16px;
  color: black;
}
.color-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.red,
.blue,
.yellow {
  flex: calc(1 / 3);
  height: 3px;
}
.red {
  background-color: #c36e33;
}
.yellow {
  background-color: #cb9525;
}
.blue {
  background-color: #2276b4;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  padding-inline: 20px;
}
.img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.img img {
  max-width: 250px;
  object-fit: contain;
  width: 100%;
}
.btn-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}
.btn-div button {
  text-transform: uppercase;
  flex: 1;
  height: 60px;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
.btn-div button:hover {
  transform: scale(0.95);
  opacity: 0.7;
  cursor: pointer;
}
.dark-green {
  background-color: #5f9ea0;
}
.dark-blue {
  background-color: #0dcaf0;
}
.dark-yellow {
  background-color: #ffc300;
}
.dark-brown {
  background-color: #deb887;
}
.light-yellow {
  background-color: rgb(247, 227, 123);
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  place-items: center;
  width: 100%;
  margin-top: 50px;
  gap: 30px;
}
.card {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #f8f9f9;
  width: 300px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  transition: all 0.5s ease-in-out;
}
.card:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.text-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  width: 100%;
  padding-inline: 20px;
  text-align: center;
}
.card h2 {
  font-size: 18px;
  background-color: #f0f1f1;
  padding: 10px 10px;
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
}
.card h2 span {
  color: red;
  margin-right: 5px;
}
.text-card h3 {
  font-size: 16px;
  color: #aec9c9;
  font-weight: normal;
  margin-top: 10px;
}
.text-card p {
  font-weight: 600;
  font-size: 18px;
  color: black;
}
.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  flex-direction: column;
  margin-top: 10px;
}
.card-btn button,
.card-btn a {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.5s ease;
  border: 2px solid transparent;
}
.card-btn a:hover {
  background-color: transparent;
  border-color: var(--blue);
  color: black;
}
.card-btn button:hover {
  color: white;
  background-color: var(--blue);
}
.card-btn a {
  background-color: var(--blue);
  color: white;
}
.card-btn button {
  background-color: transparent;
  color: black;
  border-color: var(--blue);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 2;
  cursor: pointer;
}
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 1000px;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.modal img {
  height: max(60vh, 500px);
  width: 100%;
  object-fit: contain;
}
.modal .splide .splide__pagination {
  bottom: -10% !important;
}

.splide__arrow {
  width: 3em !important;
  height: 3em !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  opacity: 1 !important;
}
.splide__arrow svg {
  fill: white !important;
  width: 2em !important;
  height: 2em !important;
}
.close {
  position: absolute;
  top: -55%;
  right: 0;
  z-index: 30;
  max-width: 25px;
  cursor: pointer;
  object-fit: contain !important;
}
@media screen and (max-width: 1337px) {
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 835px) {
  .btn-div {
    grid-template-columns: 1fr 1fr;
  }
  .header {
    padding-inline: 10px;
  }
  .header h1 {
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 570px) {
  .img img {
    max-width: 150px;
  }
  .btn-div {
    grid-template-columns: 1fr;
  }
  .modal img {
    height: 400px;
    object-fit: contain;
  }
  .close {
    top: -10%;
    right: 0%;
    height: auto !important;
  }
}
